header, footer{
    background-color:rgb(241, 157, 10);
}

h1{
    color: black;
}

nav,footer{
    color: black;
}

#bienvenida{
    background-image: url("../Imagenes/portada.jpg");
    line-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:rgb(187, 6, 6);
    text-align: center;
    font-size: xx-large;
}
#bienvenida h1{
    font-size: 90px;
color: #fdb4bf;
background-color: #0000006f;
}

.servicio{
    display: inline-block;
    width: 20%;
    
}

#nuestros-servicios{
    background-image: url("../Imagenes/cactus.jpg");
    background-attachment: fixed;
    text-align: center;
    font-size: 1.2em;
}

.mono{
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

.mono video{
width: 400px ;
height:600px;
}

#conoceme{
    background-color:rgb(22, 151, 238);
    color:rgb(45, 11, 56);
    text-align: center;
    font-size: 1.2em;
    
}

#siguenos, #suscribir{
    display: inline-block;
    width: 25%;
    vertical-align: top;
    
}

#powered{
    display: inline-block;
    width: 10%;
}

#powered ul li a{
    color:black;
}

#titulo{
    display: inline-block;
    width: 35%;
    vertical-align: top;
    font-size: 0.8em;
}

#menu{
    display: inline-block;
    width: 55%;
}

.menu-barra a{
    font-size: 20px;
    color: black;
    text-decoration: none;

}

#menu ul li{
    display:inline-block;
    width:15%;
}

img, video{
    max-width: 100%;
}
.Transparente{
    color: transparent;
    font-size: 0.1px;
}
button{
    color: #000305;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    display: none;
   
  }
  .modal-content{
    width: 500px;
    height: 400px;
    background-color: rgba(254, 169, 60, 0.972);
    border-radius: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: absolute;
    
  }
  
  input{
    width: 60%;
    height: 25px;
  
    border-radius: 5px;
    margin: 15px auto;
  }
  .close1{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 60px;
    transform: rotate(45deg);
    cursor: pointer;
  }
  .modal-content .icon img{
    width: 180px;
    height: 180px;
    border-radius: 20%;
  
  }
  .author-aling{
    align-items: flex-start;
    padding-left: 20px;
  }
  input{
    width: 60%;
    height: 25px;
  
    border-radius: 5px;
    margin: 15px auto;
  }
  .close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 60px;
    transform: rotate(45deg);
    cursor: pointer;
  }

  #letTam p{
    font-size: 30px;
  }
  #inter{
  width: 95%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  
  }
  #inter p{
    font-size: 15px;
    text-align:center;
  }